// 基本
a {
  text-decoration: none; /* 去除默认的下划线 */
  outline: none; /* 去除旧版浏览器的点击后的外虚线框 */
  color: #000; /* 去除默认的颜色和点击后变化的颜色 */
}

// 尺寸

// 盒子
.flex-center-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-rotate180 {
  transform-origin: center;
  transform: rotate(180deg);
  transition: transform 0.3s;
}

.box-rotate90 {
  transform-origin: center;
  transform: rotate(90deg);
  transition: transform 0.3s;
}

.box-rotate {
  transform: rotate(90deg);
}

// svg图标规范
.svgIcon-base {
  align-items: center;
  line-height: 10px;
  width: 10px;
  height: 10px;
  transition: 0.3s;
}
